*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}
img {
    max-width: 100%;
    display: block;
  }

ul[class],
ol[class] {
  list-style:none;
}
html{
  scroll-behavior: smooth;
}

body {
  width: 100%;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5; 
  background: #2D303A;
  
}
#wrapper{
  display: flex;
  flex-direction: column;
  max-width: 1020px;
  height: auto;
  margin:auto;
  background: #FFFFFF;
}
/*   HEADER   */
header{
  display: flex;
  align-items: center;
  width: 100%;
  
  
  height: 95px;
 
  background: #2D303A;
  border-bottom: 6px solid  #323746; 
  position: sticky; 
  top:0;
  z-index: 10000;
  }
 

.menu {
  width: 411.41px;
  height: 13px;
  font-family: 'Lato-Bold';
  font-size: 12px;
  line-height: 5px;
  letter-spacing: -0.15px;
  display: flex;
  flex-direction: row;  
  }
.menu li{
  margin: 0 15px;
  }
.menu li:before {
  content: "\2B24";
  color: #fff;
  font-size: 3px;
  position: relative;
  left: -16px;
  top: 6px;
  }
.menu li:first-child:before{
  content: '.' ;
  color:#2D303A;
  }
.menu li:first-child{
  margin-left: 0px;
  }
.menu li a{
  color:#fff;
  display: block;
  text-decoration: none;
  transition: all .5s;
      
  }

.logo{
  width: 115px;
 
  margin-left: 40px;
  font-family: 'Lato-Bold';
  font-weight: 100;
  font-size: 25px;
  line-height:7px;
  letter-spacing: -0.45px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: auto;
  color: #FFFFFF;
  
  }
.logo:hover{
  cursor: pointer;
}
.logo>span{
  color: #F06C64;
}
 .active{
  color:#F06C64 !important;
}
nav a:hover{
  color:#F06C64;
  
}
#menu__toggle {
  opacity: 0;
  display: none;
}

/*  SLIDER  */

#home{
  width: 100%;
  height: auto;
  border-bottom: 0.588vw solid #ea676b;
  background: #f06c64;
  
  padding-top: 95px;
	margin-top: -95px;
	-webkit-background-clip: content-box;
  background-clip: content-box;
  text-align: center;
 
}

.slider{
  width: 100%;
  position: relative;
  height: auto;
  margin: auto;
  overflow: hidden;
  
}
.item {
  display: none;
  position: relative;
  animation: 0.5s ease-in-out;
  margin: 0 auto;
}
.active-slide,
.next {
  display: block;
}
.next {
  position: absolute;
  top: 0;
  width: 100%;
}

.left {
  left: 0;
  left: auto;
}

.right {
  right: 0;
  right: auto;
}
.arrow {
  display: inline-block;
  position: absolute;
  top: 51%;
  transform: translateY(-50%);
  font-size: 36px;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.3);
}
.arrow:hover{
  color: black;
}

.arrow.right {
  right: 4%;
}
.arrow.left{
  left: 4%;
}
.item >img {
  object-fit: cover;
  width: 100%;
  
  max-height: 58.235vw;
  
}
.to-left {
  animation-name: left;
}

.from-right {
  animation-name: right;
}

.to-right {
  animation-name: right;
  animation-direction: reverse;
}

.from-left {
  animation-name: left;
  animation-direction: reverse;
}

@keyframes left {
  from {
    left: 0;
  }
  to {
    left: -100%;
  }
}

@keyframes right {
  from {
    left: 100%;
  }
  to {
    left: 0;
  }
}

.container-phone{
 width: 100%;
  height: 594px;
  display: flex;
  flex-direction: row;
  position: relative;
  background: #f06c64;
}

.iphone-ver{
  width: 215px;
  height: 458px;
  background-color:#f2f2f2 ;
  border-radius: 27px ;
  box-shadow:5px 5px  #ce5d56, 10px 10px  #ce5d56,12.5px 12.5px  #ce5d56,15px 15px  #ce5d56,20px 20px  #ce5d56, 25px 25px  #ce5d56 ;
  position: relative;
  margin-top: 53px;
  margin-left: 112px;
  

}
.iphone-ver>.camera{
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #ea5459;
  border:3px solid #d8d8d8;
  border-radius: 50%;
  left:102px;
  top: 16px;
}
.iphone-ver>.speaker{
  position: absolute;
  width: 36px ;
  height: 5px;
  background-color: #acacac;
  border-radius: 3px;
  top: 36px;
  left: 90px;
}
.iphone-ver>.screen{
  position: absolute;
  width: 194px;
  height: 339px;
  border: 3px solid #c6c6c6;
  border-radius: 5px;
  top: 62px;
  left: 11px;
  background:  url(assets/image/Layer\ 6@1X\ \(1\).png) no-repeat;
  transition: background .2s;
}
.screen-black{
  background: black !important;
}

.iphone-ver>.button{
  position: absolute;
  width: 43px;
  height: 43px;
  background-color:#fafafa ;
  border-radius: 50%;
  top: 407px;
  left: 86px;
}
.iphone-ver>.button>div{
  position: absolute;
  width: 17px;
  height: 17px;
  border: 2px solid #bababa;
  border-radius: 5px;
  top:13px;
  left: 13px;

}

       /* IPHONE HORIZONTAL  */

.iphone-hor{
  width: 458px;
  height: 215px;
  background-color:#f2f2f2 ;
  border-radius: 27px ;
  box-shadow:5px 5px  #ce5d56, 10px 10px  #ce5d56,12.5px 12.5px  #ce5d56,15px 15px  #ce5d56,20px 20px  #ce5d56, 25px 25px  #ce5d56 ;
  position: relative;
  margin: 0;
  margin-top: 176px;
  margin-left: 98px;
}
.iphone-hor>.camera{
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #ea5459;
  border:3px solid #d8d8d8;
  border-radius: 50%;
  left:432px;
  top: 102px;
}
.iphone-hor>.speaker{
  position: absolute;
  width: 5px ;
  height: 36px;
  background-color: #acacac;
  border-radius: 3px;
  top: 90px;
  left: 417px;
}
.iphone-hor>.screen{
  position: absolute;
  width: 339px;
  height: 194px;
  border: 3px solid #c6c6c6;
  border-radius: 5px;
  top: 11px;
  left: 57px;
  background:url(assets/image/Layer\ 5@1X.png) no-repeat ;
  transition: background  0.2s ease-out;
}

.iphone-hor>.button{
  position: absolute;
  width: 43px;
  height: 43px;
  background-color:#fafafa ;
  border-radius: 50%;
  top: 86px;
  left: 8px;
  }
  .iphone-ver>.button:hover,
  .iphone-hor>.button:hover{
    cursor: pointer;
  }
  .iphone-hor>.button>div{
    position: absolute;
    width: 17px;
    height: 17px;
    border: 2px solid #bababa;
    border-radius: 5px;
    top:13px;
    left: 13px;
  }

/* SERVICE */

#services{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  background: #F2F2F2;
  border-bottom:6px solid #FFFFFF;
  padding-top: 95px;
	margin-top: -95px;
	-webkit-background-clip: content-box;
	background-clip: content-box;
}

#services>h2{

  height: 23px;
  letter-spacing: 0.0555px;
  font-family: 'Lato-black';
  font-weight: 100;
  font-size: 30px;
  line-height: 18px;
  margin-left: 40px;
  margin-top: 6.8%;
  color: #666D89;
}
#services>p{
  max-width: 940px;
  
  letter-spacing: 0.05px;
  font-family: 'Lato-Light';
  font-size: 18px;
  line-height: 30px;
  text-align: justify;
  color: #767E9E;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 2%;
}

.services-container{
  max-width: 951px;
  height: auto;
  margin-left: 35px;
  margin-right: 35px;
  margin-top: 1.5%;
  margin-bottom: 60px;
  list-style: none; 
  display: flex;
  flex-flow: row wrap;
  justify-content:space-between;
}
.block{
  width: 300px;
  height: 87px;
  margin:6px;
  margin-top: 30px;
  color: #767E9E;
  display: flex;
  flex-direction:row;
  overflow: hidden;
  text-overflow: ellipsis;
}

.block2>h3{
  max-width: 200px;
  font-size: 18px;
  line-height: 18px;
  color: #666d89;
  font-family: "Lato-Black" !important;
  font-weight: 100;
  text-align: left;
  letter-spacing: -0.05px;
}
.block2>p{
  font-size: 12px;
  line-height: 22px;
  color: #767e9e;
  font-family: "Lato-Regular";
  font-weight: 100;
  text-align: justify;
  margin-top: 9px;
  letter-spacing: 0px;
  overflow: hidden;
  text-overflow: ellipsis; 
}
.ellipse{
  justify-content:center;
  align-items:center;
  width: 59px;
  height: 59px;
  border: 2px solid #666D89;
  border-radius: 50%;
  margin-top: 2px;
}

.pen>.ellipse{
  background: url(assets/image/pen@1X.png) no-repeat 12px 12px;
  
}
.bulb>.ellipse{
  background: url(assets/image/bulb@1X.png) no-repeat 17px 11px;
}
.heart>.ellipse{
  background: url(assets/image/heart@1X.png) no-repeat 12px 14px;
}
.phone>.ellipse{
  background: url(assets/image/phone@1X.png) no-repeat 17px 12px;
}
.bubble>.ellipse{
  background: url(assets/image/bubble@1X.png) no-repeat 12px 14px;
}
.star>.ellipse{
  background: url(assets/image/star@1X.png) no-repeat 12px 12px;
}
.heart h3,
.star h3{
  margin-left: 2px;
}
.block2{
  width: 219px;
  height: 40px;
  margin-left: 20px;
}
/* PORTFOLIO*/
#portfolio{
    width: 100%;
    height: auto;
    background-color: #2d303a;
    border-bottom: 6px solid #323746;
    padding-top: 95px;
	margin-top: -95px;
	-webkit-background-clip: content-box;
	background-clip: content-box;
   }
   #portfolio>h2{
       color: #666d89;
       font-size: 30px;
       line-height: 18px;
       font-family: "Lato-Black";
       font-weight: 200;
       text-align: left;
       margin-top: 68px;
       margin-left: 40px;
   }
   
   #portfolio>p{
       max-width: 940px;
       font-family: 'Lato-Light';
       font-size: 18px;
       margin-left: 40px;
       margin-right: 40px;
       margin-top: 28px;
       color:  #767e9e;
       text-align: justify;
       line-height: 30px;
   }
   
   
   .nav-button{
       display: flex;
       margin-left: 41px;
       margin-right: 40px;
       margin-top: 11px;
   }   
   .nav-button>button{
       font-family: 'Lato-Regular';
       font-size: 12px;
       color: #767e9e;
       border-radius: 5px;
       background-color: #2d303a;
       border:1px solid #767e9e;
       margin-right: 10px;
       padding-top: 1px;
       height: 22px;
       padding: 6px;
       padding-top: 2px;
       -webkit-transition-duration: 0.4s; /* Safari */
       transition-duration: 0.4s;
      
     
   }
   button::-moz-focus-inner { 
     padding: 0;
     border:0;
     }
   .nav-button button:last-child{
     padding-right: 4px;
   }
   .active1{
       color: #dedede !important;
       border: 1px solid #dedede !important;
    
   }
   .nav-button button:focus{
     color: #dedede !important;
     border: 1px solid #dedede !important;
     cursor: pointer;
     outline: none;
   }
   .nav-button button:hover{
       
       color: #dedede !important;
       border: 1px solid #dedede !important;
       cursor: pointer;
   }
   
   .gallery {
    max-width:950px;
    height: auto;
    margin-left: 35px;
    margin-right: 35px;
    margin-top: 12px;
    margin-bottom: 64px;
    display: grid;
    grid-template-columns: repeat(4 ,220px);
    grid-template-rows: repeat(3,  187px);
    justify-content: center;
    grid-gap: 20px ;
    overflow: hidden;
    padding: 5px;
     
   }
   .gallery__item:nth-child(n+13) {
    display: none;
   }
   
   .gallery__img {
       width: 100%;
       height: 100%;
       object-fit: cover;
       
       display: block;
       overflow: hidden;
       cursor: pointer;
   }
   
   
   .gallery__item--5>img,
   .gallery__item--1>img,
   .gallery__item--9>img
   {
     object-position:0px  ;
   }
   .active_img{
    outline: 5px solid #F06C64 ;
    z-index: 10000;
    
   }
   /* ABOUT */
   #about{
    width: 100%;
    height: auto;
    background-color: #f2f2f2;
    border-bottom: 6px solid #ffffff;
    color:  #767e9e;
    padding-top: 95px;
    margin-top: -95px;
    -webkit-background-clip: content-box;
    background-clip: content-box;

   }
   #about>h2{
       color: #666d89;
       font-size: 30px;
       line-height: 18px;
       font-family: "Lato-Black";
       font-weight: 200;
       text-align: left;
       margin-top: 68px;
       margin-left: 40px;
   }
   
   #about>p{
       max-width: 940px;
       font-family: 'Lato-Light';
       font-size: 18px;
       margin-left: 40px;
       margin-right: 40px;
       margin-top: 27px;
       color:  #767e9e;
       text-align: justify;
       line-height: 30px;
   }
   .staff{
     max-width: 940px;

     display: flex;
    
     margin-left: 40px;
     margin-right: 40px;
     margin-top: 45px;
     margin-bottom: 60px;
     flex-direction: row;
     justify-content:center;  
   }
   .staff__item{
    width: 31.93%;
     
    
   }
   .staff__item:first-child{
   margin-right: 2.1%;
   
   }
   .staff__item:last-child{
     margin-left:2.1%;
   }
   .photo{
     width: 100%;
     max-height: 300px;
   
   }
   .photo>img{
     object-fit: cover;
     object-position:0px -0.5px;
     
   }
   
   
   .staff h3{
    
     height: 18px;
     font-family: 'Lato-Black';
     font-weight: 100;
     font-size: 18px;
     line-height: 18px;
     margin-top: 17px;
     letter-spacing: -0.15px;
     overflow: hidden;
     text-overflow: ellipsis;
     white-space: nowrap;
   }
   .staff p{
     width:100%;
     font-family: 'Lato-Regular';
     font-weight: 100;
     font-size: 12px;
     line-height: 21px;
     margin-top: 10px;
     text-align: justify;
     letter-spacing: -0.06px;
   }
   .staff .social{
     margin-top: 24px;
     margin-left: 1px;
   }
   .staff__item:last-child .social{
     margin-left: 0;
   }
   .icon{
     width: 32px;
     height: 32px;
     border: 1px solid #666d89;
     border-radius: 50%;
     margin-right: 4px;
     
     display: inline-block;
     position: relative;
     transition: 0.3s;
   }
   
   .svg{
     width:47%;
     height:47%;
     position: absolute;
     top: 8px;
     left: 8px;
     transition: 0.3s;
   }
   
   .facebook:hover{
     border: 1px solid #3b5998;
     
     
   }
   
   .google:hover{
     border: 1px solid #db4a39;
     
    
   }
   .twitter:hover{
     border: 1px solid #00acee;
     
    
   }
   .linkedin:hover{
     border: 1px solid #0e76a8;
    
   }
   /* GET A QUOT  */
   .get{
    width: 100%;
    height: auto;
    background: #f06c64;
   color:#f0d8d9;
    border-bottom: 0.588vw solid #ea676b;
    padding-top: 95px;
    margin-top: -95px;
    -webkit-background-clip: content-box;
    background-clip: content-box;
}
.get>h2{
    color: #f0d8d9;
    font-size: 30px;
    line-height: 18px;
    font-family: "Lato-Black";
    font-weight: 400;
    text-align: left;
    margin-top: 6.7%;
    margin-left: 41px;
    letter-spacing: -0.3px;
   
}

.get>p{
    line-height: 30px ;
    
    
    font-family: 'Lato-Light';
    font-size: 18px;
    margin-left: 41px;
    margin-right: 40px;
    margin-top: 27px;
    letter-spacing: 0.15px;
    color:  #f0d8d9;
    text-align: justify;
}
.container_form_contact{

    display: flex;
    flex-direction: row;
    margin-top: 4.3%;
    margin-left: 40px;
    margin-right: 40px;
}
.container-form{
  width: 86%;
    max-width: 619px;
    margin-bottom: 5%    
    
}
input[type=text],
input[type=email],
textarea {
    width: 100%;
    height: 38px;
    border-radius: 5px;
    margin-bottom: 2.6%;
    font-family: 'Lato-Regular';
    font-size: 12px;
    background: #d6564f;
    
    color:#f0d8d9;
    padding: 1px 15px;
    outline:none;
    border: 1px solid #d6564f;
}
textarea{
  padding: 10px 15px;
  resize: none;
  height: 159px !important;
 
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder
{ color:#f48c8f 

}
input[type=submit]{
  width: 136px;
  height: 38px;
    border-radius: 5px;
    background: #FBC65F;
    border: none;
    color:#886A30;
    float: left;
    margin-top: -10px;
    margin-bottom: 11px;
    padding: 5px;
    transition: all .5s;
}
input[type=submit]:hover{
  background: #d6564f;
  border: 1px solid #FBC65F;
  color: #FBC65F;
  cursor: pointer;
}
input:focus,
textarea:focus{
  border: 1px solid #FBC65F;
  color: #FBC65F;
}
.contact-info{
    width: 302px;
    margin-left: 21px;
    font-family: "Lato-Regular";
    font-size: 12px;
    color: #f0d8d9;
    font-weight: 400;
}
.contact-info>h3{
    font-size: 18px;
    line-height: 18px;
    font-family: "Lato-Black";
    text-align: left;
    font-weight: 400;
    
    letter-spacing: 0px;
}
.contact-info>p{
line-height: 22px;
text-align: justify;
margin-top: 3.3%;
margin-bottom: 7.3%;
}

.email,
.phone1,
.location{
  display: block;
  text-decoration: none;
  color: #f0d8d9;
}
.phone1{
  margin-top: 3px !important;
}
.email{
  margin-top: 3px !important;
  line-height: 20px;
}
.email::before{ 
  content: url(assets/image/mail@1X.png) ;
 margin-right: 10px;
 margin-top: -2px;
}
.phone1::before{
  content: url(assets/image/phone@1X\ \(1\).png); 
  margin-right: 11px;
  margin-left:1px ;
}
.location::before{ 
    content: url(assets/image/location@1X.png); 
    margin-right: 13px;
    margin-left: 3px ;  
}
.footer{
    width: 100%;
    height: 76px;
    background: #2d303a;
    display: flex;
    justify-content: space-between;
}
.copyright{
  color:#666d89;
 margin-top: 29px;
 margin-left: 41px;
 font-family: "Lato-Regular";
    font-size: 12px;
    letter-spacing: -0.1px;
}

.social{
  margin-top: 22px;
  margin-right: 36px;
}
.icon{
  width: 32px;
  height: 32px;
  border: 1px solid #666d89;
  border-radius: 50%;
  margin-right: 4px;
  display: inline-block;
  position: relative;
}

.svg{
  width:45%;
  height:45%;
  position: absolute;
  top: 8px;
  left: 8px;
}
.facebook:hover {
  border: 1px solid #3b5998;
}

.google:hover{
  border: 1px solid #db4a39;
}
.twitter:hover{
  border: 1px solid #00acee;
}
.linkedin:hover{
  border: 1px solid #0e76a8;
}
#menu-block,
#message-block{
  position: fixed;
  width: 100%;
  height: 100vh;
 top: 0;
  left: 0;
  background: #0008;
  z-index: 1000;
}
#menu-block.hidden,
#message-block.hidden {
display: none;
}
#message{
  position: absolute;
  width: 300px;
  height: auto;
  top: 50%;  /* position the top  edge of the element at the middle of the parent */
  left: 50%; /* position the left edge of the element at the middle of the parent */

  transform: translate(-50%, -50%);
  border: px solid black;
  text-align: center;
  background: #2d303a;
  color:white;
  padding: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: "Lato-Regular";
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(247,244,247,1);
  -moz-box-shadow: 0px 0px 5px 0px rgba(247,244,247,1);
  box-shadow: 0px 0px 5px 0px rgba(247,244,247,1);
}
.hidden{
  display: none;
}
#topic,
#description{
  width: 300px;
  height: 25px;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
  
}
#message button{
  width: 50px;
  height: 25px;
    border-radius: 5px;
    background: whitesmoke;
    border: 1px solid whitesmoke;
    color:#2d303a;
    float: center;
    margin-top: -5px;
    padding: 5px;
    transition: all .5s;
}
#message button:hover{
  background: #2d303a;
  color:whitesmoke;
  border: 1px solid whitesmoke;
  cursor: pointer;
}
#message h3{
  font-weight: 400;
}

@media (min-width: 0px) and (max-width: 374px){
  .menu{
    display: none;
  }
  .nav-button{
    
    display: flex;
    margin-left:0px;
    
    margin-top: 12px;
}   
.nav-button>button{
  
    font-family: 'Lato-Regular';
    font-size: 9px;
    color: #767e9e;
    border-radius: 5px;
    background-color: #2d303a;
    border:1px solid #767e9e;
    margin-right: 10px;
   
    max-height: 18px;

    padding-top: 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
   
  
}
header{
  border-bottom: none;
  max-height: 71px;
  position: sticky;
}
.menu{
  display: none;
}
.hamburger-menu{
  display:block;
}

#menu__toggle {
opacity: 0;

}

.menu__btn {
display: flex;
align-items: center;  
position: fixed;
top: 23px;
left: 19px;
width: 26px;
height: 26px;
cursor: pointer;
z-index: 1;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
display: block;
position: absolute;
width: 100%;
height: 2px;
background-color: #fff;
}
.menu__btn > span::before {
content: '';
top: -8px;
}
.menu__btn > span::after {
content: '';
top: 8px;
}

#menu__toggle:checked ~ .menu__btn  {
transform: rotate(270deg);
}
#menu__toggle:checked ~ .menu {
visibility: visible;
left: 0;
}
.menu {
display: block;
position: fixed;
visibility: hidden;
margin-top: 30%;
top: 0;
left: -100%;
width: 278px;
height: 100%;
margin: 0;
padding:  0;
list-style: none;
text-align: left;
background-color:#2D303A;
box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
font-size: 24px;
line-height: 29px;
letter-spacing: -0.035em;
}
.menu li{

margin-bottom: 28px;
margin-left: 71px !important;
}
.menu li:nth-child(1){
margin-top:50%;
}
.menu li:before {
content: "";
}

.menu li:first-child:before{
content: '' ;

}


.menu__btn {
transition-duration: .5s;
}
.menu {
transition-duration: .5s;
}

.logo{
  margin-left: 39.5% ;
  height: auto;
  font-size: 19.6875px;
  z-index: 1000;
  
 
}
.logo-burger{
  margin-left: 71px !important;
 
}
#home,
#contact,
#portfolio,
#services,
#about{
  border-bottom: none;
  padding-top: 65px;
margin-top: -65px;
-webkit-background-clip: content-box;
background-clip: content-box;
}

.container-phone{
  width: 100%;
  max-width: 1020px;
  height:58.235vw;
  display: flex;
  flex-direction: row;
  position: relative;
  background: #f06c64;
}

      /* IPHONE VERTICAL  */ 
      .iphone-ver{
        min-width: 50px;
        width: 21.078vw;
        
        height: 44.9vw;
        background-color:#f2f2f2 ;
        border-radius: 2.7vw ;
        box-shadow:0.5vw 0.5vw  #ce5d56, 1.5vw 1.5vw  #ce5d56,2vw 2vw  #ce5d56, 2.5vw 2.5vw  #ce5d56 ;
        position: relative;
        margin-top: 5.27vw;
        margin-left: 10.999vw;
        
      
      }
      .iphone-ver>.camera{
        position: absolute;
        width:1vw;
        height: 1vw;
        background-color: #ea5459;
        border:0.2vw solid #d8d8d8;
        border-radius: 50%;
        left:48%;
        top: 4%;
      }
      .iphone-ver>.speaker{
        position: absolute;
        width: 3.5vw;
        height: 0.5vw;
        background-color: #acacac;
        border-radius: 3px;
        top: 8%;
        left: 42%;
      }
      .iphone-ver>.screen{
        position: absolute;
        width: 90%;
        height: 74%;
        border: 0.2vw solid #c6c6c6;
        border-radius: 5px;
        top: 13.8%;
        left: 5%;
        background:  url(assets/image/Layer\ 6@1X\ \(1\).png) no-repeat ;
        background-size: cover;
        transition: background .2s;
      }
      .screen-black{
        background: black !important;
      }
      
      .iphone-ver>.button{
        position: absolute;
        width: 4vw;
        height:4vw;
        background-color:#fafafa ;
        border-radius: 50%;
        top: 89%;
        left: 40%;
      }
      .iphone-ver>.button>div{
        position: absolute;
        width: 40%;
        height: 40%;
        border:0.196vw solid #bababa;
        border-radius: 20%;
        top:30%;
        left: 32%;
      
      }
      
             /* IPHONE HORIZONTAL  */
      
      .iphone-hor{
        width: 44.902vw;
        height: 21.078vw;
        background-color:#f2f2f2 ;
        border-radius: 2.7vw ;
        box-shadow:0.5vw 0.5vw  #ce5d56, 1.5vw 1.5vw  #ce5d56,2vw 2vw  #ce5d56, 2.5vw 2.5vw  #ce5d56 ;
        position: relative;
        margin: 0;
        margin-top: 17.3vw;
        margin-left: 9.5vw;
      }
      .iphone-hor>.camera{
        position: absolute;
        width: 0.980vw;
        height: 0.980vw;
        background-color: #ea5459;
        border:0.294vw solid #d8d8d8;
        border-radius: 50%;
        left:  94%;
        top: 48%;
      }
      .iphone-hor>.speaker{
        position: absolute;
        width: 0.490vw ;
        height: 3.529vw;
        background-color: #acacac;
        border-radius: 3px;
        top:42%;
        left: 91%;
      }
      .iphone-hor>.screen{
        position: absolute;
        width: 74%;
        height: 90%;
        border: 0.294vw solid #c6c6c6;
        border-radius: 5px;
        top:5%;
        left: 12.5%;
        background:url(assets/image/Layer\ 5@1X.png) no-repeat ;
        background-size: cover;
        transition: background  0.2s ease-out;
      }
      
      .iphone-hor>.button{
        position: absolute;
        width: 4vw;
        height:4vw;
        background-color:#fafafa ;
        border-radius: 50%;
        top: 40.5%;
        left: 2%;
        }
        .iphone-ver>.button:hover,
        .iphone-hor>.button:hover{
          cursor: pointer;
        }
        .iphone-hor>.button>div{
          position: absolute;
          width: 40%;
          height: 40%;
          border:0.196vw solid #bababa;
          border-radius: 20%;
          top:30%;
        left: 30%;
        }
        .item >img {
          object-fit: cover;
          width: 100%;
          
          height: 58.235vw;
          
        }

        .arrow.right {
          right: 2.5%;
        }
        .arrow.left{
          left: 2.5%;
        }
.services-container{
  max-width: 951px;
  height: auto;
  margin-left: 5%;
  margin-right: 8%;
  margin-top: 0%;
  margin-bottom: 8.2%;
  list-style: none; 
  display: flex;
  flex-flow: column;
  justify-content:space-between;
  align-items: center;
}
.block{
  width: 100%;
  margin-bottom: 0%;
}
.block:nth-child(1){
  margin-top: 27px;
}
.block:nth-child(2){
  margin-top: 31px;
}
.block:nth-child(3){
  margin-top: 33px;
}
.block:nth-child(4){
  margin-top: 33px;
}
.block:nth-child(5){
  margin-top: 33px;
}
.block:nth-child(6){
  margin-top: 33px;
}
.nav-button{
  
  margin-left: 8%;
  margin-top: 6%;
}   
.gallery {
  margin-left: 7%;
    margin-right: 7%;
    margin-top: 5.5%;
    margin-bottom: 10.5%;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  justify-content: center;
  grid-gap: 0.85em ;
  overflow: hidden;

}
.gallery__item:nth-child(n+9) {
  display: none;
 }
 .staff{
  width: 100%;
  display: flex;
  margin-left: 0;
  margin-right: 0;
  margin-top: 25px;
  
  flex-direction: column;
  align-items: center;
  
}
.staff__item,
.photo{
 width: 100%;
 max-width: 265px;
 height: auto;
  margin-bottom: 31px;
 
}

.staff__item>p{
  margin-top: 1%;
}
.staff__item .social{
  margin-top: 4%;
}
.staff__item:first-child{
  margin-right: 0;
  margin-bottom: 28px;
  
  }
  .staff__item:last-child{
    margin-left:0;
    margin-top: -4px;
    margin-bottom: 30px;
  }
  #portfolio>h2,
  #about>h2,
  .get>h2,
  #services>h2{
    margin-left: 8%;
    margin-right: 8%;
    
  }
  #services>h2{
    margin-top: 9.6%;
  }
  #services>p{
    margin-top: 6%;
    list-style: 0.9px;
  }
  #portfolio>h2{
    margin-top: 14%;
  }
  #about>h2{
    margin-top: 11%;
  }
  #contact>h2{
    margin-top: 14.2%;
  }
  .staff{
    margin-bottom: 10px;
  }
  .get>p,
  #services>p,
  #portfolio>p,
  #about>p{
   text-align: left;
   margin-left: 8%;
   margin-right: 9%;
   
  }
 
  .container_form_contact{

    display: flex;
    flex-direction: column;
    margin-top: 6.4%;
    margin-left: 8%;
    margin-right: 8%;
    margin-bottom: 30px;
}
.container-form{
  width: 100%;
  max-width: 100%;
  margin-bottom: 5%    
  
}
input[type =text],
input[type =email]
{
width: 100%;
margin-bottom: 3.6%;
}

input[type=submit]{
  width: 100%;
  height: 50px;
    border-radius: 5px;
   
    float: right;
    margin-top: 0;
    margin-bottom: 11px;
    padding: 5px;
    transition: all .5s;
}
.contact-info{
  margin: auto;
  width: 100%;
  margin-bottom: 13px;
}
.contact-info>h3{
  margin-top: 1.8%;
}
.contact-info>p{
  margin-top: 1%;
  margin-bottom: 3.5%;
}
.location,
.phone1,
.email{
  line-height: 21px;
}
.copyright{
  display: none;
}
.footer .social{
  margin: auto ;

}
#message{
  position: absolute;
  width: 300px;
  height: auto;
  top: 50%;  /* position the top  edge of the element at the middle of the parent */
  left: 50%; /* position the left edge of the element at the middle of the parent */

  transform: translate(-50%, -50%);
}
}


@media (min-width: 375px) and (max-width: 767px) {
  header{
    border-bottom: none;
    max-height: 71px;
    position: sticky;
  }
  .menu{
    display: none;
  }
  .hamburger-menu{
    display:block;
  }

#menu__toggle {
  opacity: 0;
  
}

.menu__btn {
  display: flex; 
  align-items: center; 
  position: fixed;
  top: 23px;
  left: 19px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #fff;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}

#menu__toggle:checked ~ .menu__btn  {
  transform: rotate(270deg);
}
#menu__toggle:checked ~ .menu {
  visibility: visible;
  left: 0;
}
.menu {
  display: block;
  position: fixed;
  visibility: hidden;
  margin-top: 30%;
  top: 0;
  left: -100%;
  width: 278px;
  height: 100%;
  margin: 0 auto;
  padding:  0;
  list-style: none;
  text-align: left;
  background-color:#2D303A;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
  font-size: 24px;
  line-height: 29px;
  letter-spacing: -0.035em;
}
.menu li{
  
  margin-bottom: 28px;
  margin-left: 71px !important;
}
.menu li:nth-child(1){
  margin-top:83.5%;
}
.menu li:before {
  content: "";
  }
 
.menu li:first-child:before{
  content: '' ;
  
  }

  
.menu__btn {
  transition-duration: .5s;
}
.menu {
  transition-duration: .5s;
}
 
  .logo{
    margin-left: 39.5% ;
    height: auto;
    font-size: 19.6875px;
    z-index: 1000;
    
   
  }
  .logo-burger{
    margin-left: 71px !important;
   
  }
  #home,
  #contact,
  #portfolio,
  #services,
  #about{
    border-bottom: none;
    padding-top: 65px;
	margin-top: -65px;
	-webkit-background-clip: content-box;
  background-clip: content-box;
  }

  .container-phone{
    width: 100%;
    max-width: 1020px;
    height:58.235vw;
    display: flex;
    flex-direction: row;
    position: relative;
    background: #f06c64;
  }

        /* IPHONE VERTICAL  */ 
        .iphone-ver{
          min-width: 50px;
          width: 21.078vw;
          
          height: 44.9vw;
          background-color:#f2f2f2 ;
          border-radius: 2.7vw ;
          box-shadow:0.5vw 0.5vw  #ce5d56, 1.5vw 1.5vw  #ce5d56,2vw 2vw  #ce5d56, 2.5vw 2.5vw  #ce5d56 ;
          position: relative;
          margin-top: 5.27vw;
          margin-left: 10.999vw;
          
        
        }
        .iphone-ver>.camera{
          position: absolute;
          width:1vw;
          height: 1vw;
          background-color: #ea5459;
          border:0.2vw solid #d8d8d8;
          border-radius: 50%;
          left:48%;
          top: 4%;
        }
        .iphone-ver>.speaker{
          position: absolute;
          width: 3.5vw;
          height: 0.5vw;
          background-color: #acacac;
          border-radius: 3px;
          top: 8%;
          left: 42%;
        }
        .iphone-ver>.screen{
          position: absolute;
          width: 90%;
          height: 74%;
          border: 0.2vw solid #c6c6c6;
          border-radius: 5px;
          top: 13.8%;
          left: 5%;
          background:  url(assets/image/Layer\ 6@1X\ \(1\).png) no-repeat ;
          background-size: cover;
          transition: background .2s;
        }
        .screen-black{
          background: black !important;
        }
        
        .iphone-ver>.button{
          position: absolute;
          width: 4vw;
          height:4vw;
          background-color:#fafafa ;
          border-radius: 50%;
          top: 89%;
          left: 40%;
        }
        .iphone-ver>.button>div{
          position: absolute;
          width: 40%;
          height: 40%;
          border:0.196vw solid #bababa;
          border-radius: 20%;
          top:30%;
          left: 32%;
        
        }
        
               /* IPHONE HORIZONTAL  */
        
        .iphone-hor{
          width: 44.902vw;
          height: 21.078vw;
          background-color:#f2f2f2 ;
          border-radius: 2.7vw ;
          box-shadow:0.5vw 0.5vw  #ce5d56, 1.5vw 1.5vw  #ce5d56,2vw 2vw  #ce5d56, 2.5vw 2.5vw  #ce5d56 ;
          position: relative;
          margin: 0;
          margin-top: 17.3vw;
          margin-left: 9.5vw;
        }
        .iphone-hor>.camera{
          position: absolute;
          width: 0.980vw;
          height: 0.980vw;
          background-color: #ea5459;
          border:0.294vw solid #d8d8d8;
          border-radius: 50%;
          left:  94%;
          top: 48%;
        }
        .iphone-hor>.speaker{
          position: absolute;
          width: 0.490vw ;
          height: 3.529vw;
          background-color: #acacac;
          border-radius: 3px;
          top:42%;
          left: 91%;
        }
        .iphone-hor>.screen{
          position: absolute;
          width: 74%;
          height: 90%;
          border: 0.294vw solid #c6c6c6;
          border-radius: 5px;
          top:5%;
          left: 12.5%;
          background:url(assets/image/Layer\ 5@1X.png) no-repeat ;
          background-size: cover;
          transition: background  0.2s ease-out;
        }
        
        .iphone-hor>.button{
          position: absolute;
          width: 4vw;
          height:4vw;
          background-color:#fafafa ;
          border-radius: 50%;
          top: 40.5%;
          left: 2%;
          }
          .iphone-ver>.button:hover,
          .iphone-hor>.button:hover{
            cursor: pointer;
          }
          .iphone-hor>.button>div{
            position: absolute;
            width: 40%;
            height: 40%;
            border:0.196vw solid #bababa;
            border-radius: 20%;
            top:30%;
          left: 30%;
          }
          .item >img {
            object-fit: cover;
            width: 100%;
            
            height: 58.235vw;
            
          }

          .arrow.right {
            right: 2.5%;
          }
          .arrow.left{
            left: 2.5%;
          }
  .services-container{
    max-width: 951px;
    height: auto;
    margin-left: 5%;
    margin-right: 8%;
    margin-top: 0%;
    margin-bottom: 8.2%;
    list-style: none; 
    display: flex;
    flex-flow: column;
    justify-content:space-between;
    align-items: center;
  }
  .block{
    width: auto;
    margin-bottom: 0%;
  }
  .block:nth-child(1){
    margin-top: 27px;
  }
  .block:nth-child(2){
    margin-top: 31px;
  }
  .block:nth-child(3){
    margin-top: 33px;
  }
  .block:nth-child(4){
    margin-top: 33px;
  }
  .block:nth-child(5){
    margin-top: 33px;
  }
  .block:nth-child(6){
    margin-top: 33px;
  }
  .nav-button{
    
    margin-left: 8%;
    
}   
  .gallery {
    margin-left: 7%;
      margin-right: 7%;
      margin-top: 5.2%;
      margin-bottom: 10.7%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    justify-content: center;
    grid-gap: 0.85em ;
    overflow: hidden;

}
.gallery__item:nth-child(n+9) {
    display: none;
   }
   .staff{
    width: 100%;
    display: flex;
    margin-left: 0;
    margin-right: 0;
    margin-top: 25px;
    
    flex-direction: column;
    align-items: center;
    
  }
  .staff__item,
  .photo{
   width: 100%;
   max-width: 314px;
   height: auto;
    margin-bottom: 31px;
   
  }
  
  .staff__item>p{
    margin-top: 1%;
  }
  .staff__item .social{
    margin-top: 4%;
  }
  .staff__item:first-child{
    margin-right: 0;
    margin-bottom: 29px;
    
    }
    .staff__item:last-child{
      margin-left:0;
      margin-top: -3px;
      margin-bottom: 30px;
    }
    #portfolio>h2,
    #about>h2,
    .get>h2,
    #services>h2{
      margin-left: 8%;
      margin-right: 8%;
      
    }
    #services>h2{
      margin-top: 9.6%;
    }
    #services>p{
      margin-top: 6%;
      list-style: 0.9px;
    }
    #portfolio>h2{
      margin-top: 13.8%;
    }
    #portfolio>p{
      margin-bottom: 4%;
    }
    #about>h2{
      margin-top: 10.8%;
    }
    #contact>h2{
      margin-top: 14.2%;
    }
    .staff{
      margin-bottom: 10px;
    }
    .get>p,
    #services>p,
    #portfolio>p,
    #about>p{
     text-align: left;
     margin-left: 8%;
     margin-right: 9%;
     
    }
   
    .container_form_contact{

      display: flex;
      flex-direction: column;
      margin-top: 6.4%;
      margin-left: 8%;
      margin-right: 8%;
      margin-bottom: 30px;
  }
  .container-form{
    width: 100%;
    max-width: 100%;
    margin-bottom: 5%    
    
}
input[type =text],
input[type =email]
{
  width: 100%;
  margin-bottom: 3.6%;
}

  input[type=submit]{
    width: 100%;
    height: 50px;
      border-radius: 5px;
     
      float: right;
      margin-top: 0;
      margin-bottom: 11px;
      padding: 5px;
      transition: all .5s;
  }
  .contact-info{
    margin: auto;
    width: 100%;
    margin-bottom: 13px;
  }
  .contact-info>h3{
    margin-top: 1.8%;
  }
  .contact-info>p{
    margin-top: 1%;
    margin-bottom: 3.5%;
  }
  .location,
  .phone1,
  .email{
    line-height: 21px;
  }
  .copyright{
    display: none;
  }
  .footer .social{
    margin: auto ;
  
  }
  #message{
    position: absolute;
    width: 300px;
    height: auto;
    top: 50%;  /* position the top  edge of the element at the middle of the parent */
    left: 50%; /* position the left edge of the element at the middle of the parent */

    transform: translate(-50%, -50%);
  }
}
  @media (min-width: 768px) and (max-width: 1019px) {
    #wrapper{
      width: 100%;
      max-width: 1020px;
    }
header{
  position: sticky;
}
.menu {
  line-height: 4px;
}
.menu li:before {
  left: -18px;
  top: 4px;
  }
#services,
#about{
 border: none;

}
#home,
#contact,
#portfolio,
#services,
#about{
  
  padding-top: 90px;
margin-top: -90px;
-webkit-background-clip: content-box;
background-clip: content-box;
}
    .container-phone{
      width: 100%;
      
      height: 58.235vw;
      display: flex;
      flex-direction: row;
      position: relative;
      background: #f06c64;
    }

          /* IPHONE VERTICAL  */ 
          .iphone-ver{
            min-width: 162px;
            width: 21.078vw;
            
            height: 44.9vw;
            background-color:#f2f2f2 ;
            border-radius: 2.7vw ;
            box-shadow:0.5vw 0.5vw  #ce5d56, 1.5vw 1.5vw  #ce5d56,2vw 2vw  #ce5d56, 2.5vw 2.5vw  #ce5d56 ;
            position: relative;
            margin-top: 5.27vw;
            margin-left: 10.999vw;
            
          
          }
          .iphone-ver>.camera{
            position: absolute;
            width:1vw;
            height: 1vw;
            background-color: #ea5459;
            border:0.2vw solid #d8d8d8;
            border-radius: 50%;
            left:48%;
            top: 4%;
          }
          .iphone-ver>.speaker{
            position: absolute;
            width: 3.5vw;
            height: 0.5vw;
            background-color: #acacac;
            border-radius: 3px;
            top: 8%;
            left: 42%;
          }
          .iphone-ver>.screen{
            position: absolute;
            width: 90%;
            height: 74%;
            border: 0.2vw solid #c6c6c6;
            border-radius: 5px;
            top: 13.8%;
            left: 5%;
            background:  url(assets/image/Layer\ 6@1X\ \(1\).png) no-repeat ;
            background-size: cover;
            transition: background .2s;
          }
          .screen-black{
            background: black !important;
          }
          
          .iphone-ver>.button{
            position: absolute;
            width: 4vw;
            height:4vw;
            background-color:#fafafa ;
            border-radius: 50%;
            top: 89%;
            left: 40%;
          }
          .iphone-ver>.button>div{
            position: absolute;
            width: 40%;
            height: 40%;
            border:0.196vw solid #bababa;
            border-radius: 20%;
            top:30%;
            left: 32%;
          
          }
          
                 /* IPHONE HORIZONTAL  */
          
          .iphone-hor{
            width: 44.902vw;
            height: 21.078vw;
            background-color:#f2f2f2 ;
            border-radius: 2.7vw ;
            box-shadow:0.5vw 0.5vw  #ce5d56, 1.5vw 1.5vw  #ce5d56,2vw 2vw  #ce5d56, 2.5vw 2.5vw  #ce5d56 ;
            position: relative;
            margin: 0;
            margin-top: 17.3vw;
            margin-left: 9.5vw;
          }
          .iphone-hor>.camera{
            position: absolute;
            width: 0.980vw;
            height: 0.980vw;
            background-color: #ea5459;
            border:0.294vw solid #d8d8d8;
            border-radius: 50%;
            left:  94%;
            top: 48%;
          }
          .iphone-hor>.speaker{
            position: absolute;
            width: 0.490vw ;
            height: 3.529vw;
            background-color: #acacac;
            border-radius: 3px;
            top:42%;
            left: 91%;
          }
          .iphone-hor>.screen{
            position: absolute;
            width: 74%;
            height: 90%;
            border: 0.294vw solid #c6c6c6;
            border-radius: 5px;
            top:5%;
            left: 12.5%;
            background:url(assets/image/Layer\ 5@1X.png) no-repeat ;
            background-size: cover;
            transition: background  0.2s ease-out;
          }
          
          .iphone-hor>.button{
            position: absolute;
            width: 4vw;
            height:4vw;
            background-color:#fafafa ;
            border-radius: 50%;
            top: 40.5%;
            left: 2%;
            }
            .iphone-ver>.button:hover,
            .iphone-hor>.button:hover{
              cursor: pointer;
            }
            .iphone-hor>.button>div{
              position: absolute;
              width: 40%;
              height: 40%;
              border:0.196vw solid #bababa;
              border-radius: 20%;
              top:30%;
            left: 30%;
            }

            .arrow.right {
              right: 3.5%;
            }
            .arrow.left{
              left: 3.5%;
            }
          

    .services-container{
      margin-top: 4px;
    margin-bottom: 6.7%;    }
    #services>h2{
      margin-top:6.5%;
    }
    #services>p{
      margin-top:2.7%;
    }
    .block{
      flex-basis: 48%;
      margin-bottom:28px ;
    }
    #portfolio>p{
      text-align: left;
      margin-right: 50px;
      
    }
    .gallery {
      margin-top: 2.9%;
      margin-bottom: 7.9%;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(4, 1fr);
  }
    
    #about>h2{
      margin-top: 8%;
    }
    .staff{
      margin-top: 4.9%;
      margin-bottom: 8.7%;

    }
    .staff__item>h3{
      margin-top: 5%;
    }
    .staff__item>p{
      margin-top: 2%;
    }
    .staff__item .social{
      margin-top: 6%;
    }
    #contact>h2{
      margin-top: 8.2%;
    }
    .container_form_contact{
      margin-top: 3.2%;
     
    }
    .contact-info{
      
      max-width: 302px;
      padding-left: 10px;
      
  }
  .contact-info>p{
    margin-top: 1.5%;
    margin-bottom: 5%;
  }
  input[type=submit]{
    margin-top: 0%;
    margin-bottom: 5px;
  }
  #message{
    position: absolute;
    width: 300px;
    height: auto;
    top: 50%;  /* position the top  edge of the element at the middle of the parent */
    left: 50%; /* position the left edge of the element at the middle of the parent */

    transform: translate(-50%, -50%);
  }
  }
  @media not all and (hover: hover) {
    nav a:hover{
      color:#fff;
      
    }
    
.arrow:hover{
  color:rgba(0, 0, 0, 0.3);
}
  }